/* LAYOUT */
.layout_cover {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.main_content {
    width: 1032px;
    height: 100%;
    position: absolute;
    scroll-behavior: smooth;
    left: 240px;
    overflow-x: hidden;
}

/* common */
.hr_style{
    border: 2px solid #F1C376;
}

input{
    accent-color: #F1C376 !important;
}

p{
    padding:0px;
    margin:0px;
}

a{
    text-decoration: none;
    color: black;
}

.input_text {
    outline: none;
    border: none;
    border-bottom: 3px solid #F1C376;
    background-color: transparent;
}

.no_padding{
    padding:0px;
    margin:0px;
}

.center_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.basic_btn {
    background-color: #F1C376;
    color: black;
    height: 40px;
    border-radius: 60px 15px;
    outline: none;
    border: 2px solid #F1C376;
    transition: background 1s;
}

.basic_btn_cancel{
    background-color: #F2F7FF;
    color: black;
    height: 40px;
    border-radius: 60px 15px;
    outline: none;
    border: 2px solid #F1C376;
    transition: background 2s;
}

.basic_btn_cancel:hover {
    background-color: #F1C376;
    border: 2px solid #F2F7FF;
}

.basic_btn:hover {
    background-color: #F2F7FF;
    border: 2px solid #F1C376;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #F1C376;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d6dee1;
}

/* SIDE BAR */
.side_menu {
    width: 240px;
    border-right: 1px solid gray;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.width_btn {
    width: 100%;
}

.profile {
    width: 210px;
    border: 2px solid whitesmoke;
    /* height: 240px; */
    background-color: #F2F7FF;
    border-radius: 50px 15px;
}

.pp_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* SIGN UP */

.signup {
    width: 100vw;
    height: 100vh;
}

.signup_cover {
    width: 70vw;
    height: 80vh;
    background-color: #F2F7FF;
    border-radius: 60px 15px;
    display: flex;
    flex-direction: row;
}

.register_pic {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.img_register {
    width: 35vw;
    /* height:100%; */
}

.register_form {
    height: 100%;
    width: 35vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
}

.input_design {
    outline: none;
    border: none;
    margin: 10px;
    border-bottom: 3px solid #F1C376;
    background-color: transparent;
}

/* SIGN IN */
.login_cover {
    width: 70vw;
    height: 80vh;
    background-color: #F2F7FF;
    border-radius: 60px 15px;
    display: flex;
    flex-direction: column;
}


.img_login {
    width: 70vw;
    height: 30vh;
}

.login_form_cover {
    width: 70vw;
    display: flex;
    justify-content: center;

}

.login_form {
    width: 35vw;

}

/* SEARCH BAR */
.input_search {
    width: 60%;
    margin-top: 15px;
    background-color: #F2F7FF;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #F1C376;
    padding: 10px;
}

input[type=search]:focus {
    outline: 2px solid #F1C376;

}

/* ADD VIDEOS */
.add_video {
    /* width:100%; */
    margin: 10px;
    display: flex;
}

.left_div {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.right_div {
    width: 50%;
    padding: 20px;
    display: flex;

}

.upload_button {
    width: 100%;
    padding: 20px;
    border: 1px solid #F1C376;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

.upload_button:hover {
    background-color: #F2F7FF;
}


/* VIDEO PLAYER DESIGN */
.video_design {
    width: 300px;
    height: 330px;
    border-radius: 60px 15px;
    background-color: #F2F7FF;
    border: 1px solid #F1C376;
    margin: 10px;
}

.video_container {
    display: flex;
    /* justify-content: space-between; */
    margin: 20px;
    flex-wrap: wrap;
    /* padding:20px; */
}

.img_thumbnail {
    border-radius: 60px 15px;
    width: 100%;
    height: 220px;
}

.video_div {
    width: 1032px;
    height:500px;
}

.video_cover {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.caption_div{
    border: 2px solid #F1C376;
    border-radius: 10px;
    background-color: #F2F7FF;
    margin: 20px;
    /* height: 92px; */
    padding-left: 10px;
}

.like_btn{
    font-size: 20px;
    /* color: #F1C376; */
}
.like_btn:hover{
    /* font-size: 20px; */
    color: #F2F7FF;
}

/* PROFILE */

.profile_cover {
    width: 70vw;
    /* height: 88vh; */
    background-color: #F2F7FF;
    border-radius: 60px 15px;

}

.dp_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.border_end {
    border-right: 2px solid #F1C376;
}

.edit_profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sb-avatar__text_1{
    width: 300px !important;
    height: 300px !important;
    line-height: initial;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    background: rgb(166, 42, 33);
    font-size: 100px;
}
.sb-avatar__text_2{
    width: 130px !important;
    height: 130px !important;
    line-height: initial;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    background: rgb(166, 42, 33);
    font-size: 100px;
}
.sb-avatar__text_3{
    width: 40px !important;
    height: 40px !important;
    line-height: initial;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    background: rgb(166, 42, 33);
    font-size: 30px !important;
}

.sb-avatar .sb-avatar--text {
    display: inline-block;
    vertical-align: middle;
    width: 300px; 
}

.input_profile {
    border: none;
    outline: none;
    border-bottom: 2px solid #F1C376;
    background-color: transparent;
    /* padding-left: 10px; */
}

.text_profile {
    border: 2px solid #F1C376;
    border-radius: 10px;
}

.small_dp{
    width:40px;
    height:40px;
    border-radius: 50%;
}